<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Quản lý học tập</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/trangchu"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
            <h2>NHỮNG NHÀ PHÁT TRIỂN CỦA PHẦM MỀM QUẢN LÝ HỌC TẬP</h2><br><br>
        </div>
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <img src="image/My.jpg" style="width: 200px;height: 250px;">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="font-size: 18px;">
                        Mã sinh viên: 18097511<br>
                        Tên: Nguyễn Đinh Hoàng Mỹ<br>
                        Lớp: DHKTPM14CTT<br>
                        Email: mynguyen8333@gmail.com<br>
                    </div>
    
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <img src="image/Tien.jpg" style="width:200px;height: 250px;">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="font-size: 18px;">
                        Mã sinh viên: 18078881<br>
                        Tên: Nguyễn Việt Tiến<br>
                        Lớp: DHKTPM14CTT<br>
                        Email: tiencuongkhoa71@gmail.com<br>
                    </div>
    
                </div>
    
            </div>
    
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <br>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <img src="" style="width: 200px;height: 250px;">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="font-size: 18px;">
                        Mã sinh viên:18079841<br>
                        Tên: Nguyễn Trần Ngọc Tới <br>
                        Lớp: DHKTPM14CTT<br>
                        Email:<br>
                    </div>
    
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <img src="" style="width:200px;height: 250px;">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="font-size: 18px;">
                        Mã sinh viên:16060721<br>
                        Tên:Trần Võ Giang Anh<br>
                        Lớp: <br>
                        Email:<br>
                    </div>
    
                </div>
            </div>
    
        </div>
    </div>
    
    
</body>
</html>